In [ ]:
import pandas as pd 
df = pd.read_csv(r"C:/Users/ofentse/Documents/messy_mine_company_hr.csv")
df

#Identify any missing alues

missing_values = df.isnull()
print(missing_values)

# Delete any cells with no values

drop_missing_values = df.dropna(inplace = True)
print(drop_missing_values)

# Indentify any duplicates in the data 

duplicated_values = df.duplicated()
print(duplicated_values)

# Check any spell errors

identify_errors_1 = df["EmplyeeID"].unique()
print(identify_errors_1)

identify_errors_2 = df["Full_Name"].unique()
print(identify_errors_2)

identify_errors_3 = df["job_role"].unique()
print(identify_errors_3)

identify_errors_4 = df["salary(R)"].unique()
print(identify_errors_4)

identify_errors_5 = df["start_date"].unique()
print(identify_errors_5)

#Repalce misspelled words 

error_1_replace = df.rename(columns={
    "EmplyeeID" : "Employee_ID",
    "job_role" : "Job_Role",
    "salary(R)" : "Salary",
    "start_date" : "Start_Date"
}, inplace = True   
)
print(error_1_replace)

# Rename columns 

rename_1= df.iloc[1, 2] = "Jane Doe"
print(rename_1)
rename_2 = df.iloc[1, 1] = "Jane Doe"
print(rename_2)
rename_3 = df.iloc[2, 1] = "Mark Connor"
print(rename_3)
rename_4 = df.iloc[2, 2] = "Head Officer"
print(rename_4)
rename_5 = df.loc[0, "Salary"] = "R55000"
print(rename_5) 
rename_6 = df.loc[1, "Salary"] = "R48000"
print(rename_6)
rename_7 = df.loc[3, "Salary"] = "R12000"
print(rename_7)

#Check the data types

dtype_col_0 = df["Full_Name"].dtypes
print(dtype_col_0)

dtype_col_1 = df["Employee_ID"].dtype
print(dtype_col_1)

dtype_col_2 = df["Salary"].dtype
print(dtype_col_2)

dtype_col_3 = df["Job_Role"].dtype
print(dtype_col_3)

dtype_col_4 = df["Start_Date"].dtype
print(dtype_col_4)

#Fix the data type of the columns 

df["Employee_ID"] = df["Employee_ID"].astype(int)

#Check if the first column of the data frame have trhe accurate data type

col_1_dtype = df["Employee_ID"].dtype
print(col_1_dtype)


#Fix the dates column 

df.loc[0, "Start_Date"] = "2019-03-16"

df.loc[1, "Start_Date"] = "2020-04-17"

df.loc[2, "Start_Date"] = "2021-05-18"

df.loc[3, "Start_Date"] = "2022-06-19"

# Fix the data type

df["Start_Date"] = pd.to_datetime(df["Start_Date"])

# Convert to date only 

df["Start_Date"] = df["Start_Date"].dt.date

#Check the data types of each colus

df.dtypes

# Fix the values of the cell in the data frame

df.loc[1, "Job_Role"] = "HR Generalist"

df

   EmplyeeID  Full_Name  job_role  salary(R)  start_date
0      False      False     False      False       False
1      False      False     False      False       False
2      False      False     False      False       False
3      False      False     False      False       False
4      False       True     False      False       False
5      False      False     False      False        True
6      False      False     False      False        True
None
0    False
1    False
2    False
3    False
dtype: bool
[1 2 3 4]
['John Smith' 'jane_doe' "Mike.O'Connor" 'Sarah White']
['HR Manager' 'Recruiter' 'TalentAcquisition']
['55000' '48000.00' 'R52000' '-12000']
['2019-01-15' '2019/03/10' '03-05-2018' '2021-07-22']
None
Jane Doe
Jane Doe
Mark Connor
Head Officer
R55000
R48000
R12000
object
int64
object
object
object
int64

   Employee_ID    Full_Name       Job_Role  Salary  Start_Date
0            1   John Smith     HR Manager  R55000  2019-03-16
1            2     Jane Doe  HR Generalist  R48000  2020-04-17
2            3  Mark Connor   Head Officer  R52000  2021-05-18
3            4  Sarah White      Recruiter  R12000  2022-06-19